body {
  background-color: #141414;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #100f0b;
  margin: 0 auto;
  width: 300px;
  height: 580px;
  border: solid 10px black;
  border-radius: 40px;
  overflow: hidden;
}

.login-header {
  height: 180px;
  width: 100%;
  position: relative;
}

.login-header .images > img {
  width: 300px;
  position: absolute;
  left: 0px;
}

/* .login-header .images > img:nth-child(2) { */
.batman-img {
  position: relative;
  transform: scale(4);
  animation-delay: 3s;
  animation-duration: 1s;
  animation-name: imageHeader;
  animation-fill-mode: forwards;
}

.city-img {
  position: relative;
  top: 140px;
  opacity: 0;
}

.login-body {
  margin-top: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: whitesmoke;
  text-align: center;
}

.login-body--title {
  position: relative;
  top: 0px;
  /* opacity: 1; */
  margin-top: 40px;
  animation-delay: 2s;
  animation-duration: 1s;
  animation-name: changeVisibility;
  animation-fill-mode: forwards;
  visibility: hidden;
}

.login-body--img {
  position: relative;
  top: 0px;
  width: 80px;
  height: 40px;
  animation-duration: 3s;
  animation-name: zoomIn;
  animation-fill-mode: forwards;
}

.login-body--title > p:nth-child(1) {
  padding: 0px;
  margin: 0px;
  font-size: 18px;
}

.login-body--title > p:nth-child(2) {
  padding: 0px;
  margin: 0px;
  font-size: 36px;
}

.login-body--title > p:nth-child(3) {
  padding: 0px;
  margin: 0px;
  font-size: 10px;
  color: grey;
}

.login-bottom {
  margin-bottom: 40px;
  position: relative;
  top: 400px;
  /* opacity: 1; */
  /* transition: all 1s; */
  animation-delay: 3s;
  animation-duration: 1s;
  animation-name: inputsVisibility;
  animation-fill-mode: forwards;
}

.login-bottom > div {
  text-decoration: none;
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.login-bottom div > p {
  background-color: #fde555;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.register-bottom {
  display: none;
  visibility: hidden;
  margin-bottom: 40px;
  position: relative;
  top: 200px;
}

.register-bottom > div {
  text-decoration: none;
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.register-bottom div > p {
  background-color: #fde555;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.hide-login-bottom {
  animation: hideBottom 1s normal;
}

.hide-login-body--title {
  animation: hideTitle 1s normal;
}

.hide-login-body--img {
  position: relative;
  top: 0px;
  width: 80px;
  height: 40px;
  animation-duration: 1s;
  animation-name: hideLogo;
  animation-fill-mode: forwards;
}

.down-batman-img {
  position: relative;
  animation-duration: 3s;
  animation-name: downImage;
  animation-fill-mode: forwards;
}

.show-city-img {
  animation-delay: 3s;
  animation-duration: 1s;
  animation-name: showCity;
  animation-fill-mode: forwards;
}

.show-register-panel{
  /* display: block;
  visibility: visible;
  margin-bottom: 40px;
  position: relative;
  opacity: 1;
  top: 0px;  */
  animation-delay: 4s;
  animation-duration: 1s;
  animation-name: showBottomRegister;
  animation-fill-mode: forwards;
}


@keyframes showBottomRegister {
  from {
    opacity: 0;
    top: 200px;
  }

  to {
    opacity: 1;
    top: 0px;
  }
}

@keyframes showCity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes downImage {
  0% {
    top: 0px;
  }

  50% {
    top: 20px;
  }

  100% {
    top: 0px;
  }
}

@keyframes hideLogo {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes hideTitle {
  from {
    opacity: 1;
    top: 0px;
    visibility: visible;
  }

  to {
    opacity: 0;
    top: 60px;
    visibility: hidden;
    display: none;
  }
}

@keyframes hideBottom {
  0% {
    opacity: 1;
    top: 0px;
  }

  100% {
    opacity: 0;
    top: 200px;
  }
}

@keyframes imageHeader {
  from {
    transform: scale(4);
  }

  to {
    transform: scale(1);
  }
}

@keyframes hideInputs {
  from {
    opacity: 1;
    top: 0px;
  }

  to {
    opacity: 0;
    top: 200px;
  }
}

@keyframes inputsVisibility {
  from {
    opacity: 0;
    top: 200px;
  }

  to {
    opacity: 1;
    top: 0px;
  }
}

@keyframes changeVisibility {
  from {
    opacity: 0;
    visibility: hidden;
  }

  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(20);
  }

  33% {
    top: 60px;
    transform: scale(1);
  }

  66% {
    top: 60px;
  }

  100% {
    top: 0px;
  }
}
